h2 {
  position: absolute;
  z-index: 2;
  background: rgba(245, 245, 245, 0.688);
  padding: 10px;
}
.popup {
  position: absolute;
  background: white;
  width: 200px;
  height: 100px;
  right: 0;
  z-index: 3;
}
